<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="refresh" content="2;url=https://budgetboundry.web.app/">
    <title>SERVER</title>
</head>
<body>
    <h1>SERVER at Budget Boundry.</h1>

    <!-- The script you provided is creating a function called `AutoReDirect` that redirects the user to
    the URL 'https://budgetboundry.web.app'. -->
    {% comment %} <script>
        function AutoReDirect(){
            window.location.href = 'https://budgetboundry.web.app'
        };
        setTimeout(AutoReDirect, 2000);
    </script> {% endcomment %}
</body>
</html>